{{#if loggedIn}}
  <h2>Welcome <a href="/profile">{{username}}!</a></h2>
{{/if}}
{{#if posts.length}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
{{else}}
 <h3>No blog posts to display, time to get posting!</h3>
 {{/if}}