<form class="login-form">
    <div>
        <label for="username-login">Enter a username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">Choose a Password (minimum 8 characters):</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Start Talking Tech!</button>
    </div>
</form>
<p>Already a user? login <a href='/login'>here</a> instead!</p>