* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  color: #102640;
  font-weight: bold;
  transition: color .3s;
}

a:hover {
  color: #FF6A3D;
}

nav a {
  margin: 0 20px;
  color: white;
}

button {
  background-color: #011936;
  border: 0;
  width: 40%;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}


button:hover {
  background-color: #3486eb;
}

nav button:hover {
  color: #137289
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
  font-weight: bold;
}

form label {
  margin-bottom: 0.5%;
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: #1A2238;
}

header h1 {
  font-size: 2em;
  color: white;
}

header h1:hover {
  color: #FF6A3D;
}

main {
  flex: 1;
  padding: 2% 4%;
}

li {
  list-style-type: none;
}

.btn-no-style {
  text-decoration: none;
  color: white;
  transition: color .3s;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
}

.btn-no-style:hover {
  background: none;
  color: #FF6A3D;
}


nav button {
  margin: 0 20px;
  padding: 0;
  border: 0;
  width: 0%;
  font-family: 'Manrope', sans-serif;
}


.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  padding-bottom: 3%;
  border-bottom: #000000 1px solid;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color:#384977;
  color: white;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-style: italic;
}

.post-list {
  margin-top: 5%;
}

.post-list li {
  margin-bottom: 5%;
}

.edit-button-div {
  display: flex;
  flex-direction: column;
}

.edit-button-div button {
  margin-bottom: 2%;
}

.title:hover {
  font-size: 103%;
}